# Server
NODE_ENV=development
PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/boilerplate-api
MONGO_DEBUG=

# Redis Cache
CACHE_URL=redis://localhost:6379

# Google Cloud PubSub
GCP_PROJECT_ID=boilerplate-local
PUBSUB_EMULATOR_HOST=http://localhost:9000

# PubSub Topics
EXAMPLE_SYNC_TOPIC=example-sync

# PubSub Subscriptions
EXAMPLE_SYNC_SUBSCRIPTION=example-sync-sub

# Logging
LOG_LEVEL=debug
